# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# ROS2 / colcon generated artifacts
build/
install/
log/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.tmp

# Binary outputs
*.out
*.exe